<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'HOME_TITLE' | translate}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showResultElement('RUN')">
                <ion-icon slot="icon-only" name="play-circle"></ion-icon>
            </ion-button>
            <ion-button (click)="showTool()">
                <ion-icon slot="icon-only" name="hammer"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content drag-content="false">
    <div class="JSEditor" #content>
        <textarea #editor autofocus></textarea>
        <div *ngIf="showResult" class="showResultTitle">
            <div class="title">{{'OUTPUT' | translate}}</div>
            <ion-icon slot="icon-only" name="trash" (click)="clearResult()"></ion-icon>
        </div>
        <div *ngIf="showResult" id="editorResult" #editorResult class="showResult"></div>
        <div class="tools" *ngIf="showTools">
            <ion-row align-items-center>
                <ion-col size="2" (click)="openLocalDir()">
                    <ion-icon name="folder-open"></ion-icon>
                    <span>{{'OPEN_FILE' | translate}}</span>
                </ion-col>
                <ion-col size="2" (click)="undo()">
                    <ion-icon name="undo"></ion-icon>
                    <span>{{'UNDO' | translate}}</span>
                </ion-col>
                <ion-col size="2" (click)="redo()">
                    <ion-icon name="redo"></ion-icon>
                    <span>{{'REDO' | translate}}</span>
                </ion-col>
                <ion-col size="2" (click)="saveModal()">
                    <ion-icon name="save"></ion-icon>
                    <span>{{'SAVE' | translate}}</span>
                </ion-col>
                <ion-col size="2" (click)="share()">
                    <ion-icon name="share"></ion-icon>
                    <span>{{'SHARE' | translate}}</span>
                </ion-col>
                <ion-col size="2" (click)="goToMarket()">
                    <ion-icon name="star"></ion-icon>
                    <span>{{'PRAISE' | translate}}</span>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>