<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        JS Editor
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="showResultElement('RUN')">
            <ion-icon slot="icon-only" name="play-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="editor" #Editor class="halfEditor" (click)="showResultElement()"></div>
    <div class="showResultTitle" (click)="clearResult()">
        <div class="title">Result</div>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
    </div>
    <div id="editorResult" class="showResult"></div>
</ion-content>
