.JSEditor {
    width: 100%;
    height: 100%;
    .showResultTitle {
        height: 8%;
        width: 100%;
        background: rgba(38, 50, 56, 0.5);
        border-bottom: 1px #333 solid;
        padding: 0 8px;
        position: relative;

        .title {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 14px;
            color: #333;
        }

        ion-icon {
            font-size: 20px;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
        }
    }

    .showResult {
        width: 100%;
        height: 22%;
        overflow: auto;
        background: #F2F2F2;
        padding-bottom: 20px;
        font-size: 12px;
    }

    .tools{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 8%;
        background: #FFF;
        z-index: 999;
        text-align: center;
        color: #263238;
        ion-row{
            position: relative;
            top: 50%;
            transform: translateY(-50%)
        }
        span{
            font-size: 12px;
            display: block;
        }
    }
}