.saveModal{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    .title {
        color: #b40c0c;
        border-bottom: 1px #CCC solid;
        text-align: center;
        padding: 10px 0;
    }
}
